/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section,.challenges,.problems,.results,.reflection {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.problems {
  font-style: italic;
}
.results {
  font-family: Verdana, Tahoma, sans-serif;
}
.reflection {
 border-color: deeppink;
 border-width: 0.2cm;
}
  .special {
    background-color: #b6d0e2;
    font-style: normal;
    font-family: arial;
    border-color: blue;
    border-width: 0.1cm;
  }